/* Embla Carousel 스타일 */
.home-solution-slider .embla {
  overflow: hidden;
}

.home-solution-slider .embla__container {
  display: flex;
}

.home-solution-slider .embla__slide {
  flex: 0 0 auto;
  min-width: 0;
}

.home-solution-slider .embla__slide .slide {
  opacity: 0.56;
  pointer-events: none;
  transform: scale(0.85);
  transition: all 300ms ease;
}

.home-solution-slider .embla__slide .slide.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
