/* Embla Carousel 스타일 */
.biz-introduction-slider .embla {
  overflow: hidden;
  padding-top: 24px;

  @media (max-width: 1280px) {
    padding-top: 0px;
  }
  padding-bottom: 100px;
  margin-bottom: -100px;
}

.biz-introduction-slider .embla__container {
  display: flex;
  gap: 48px;

  @media (max-width: 1280px) {
    gap: 40px;
  }
  @media (max-width: 768px) {
    gap: 20px;
  }
}

.biz-introduction-slider .embla__slide {
  flex: 0 0 auto;
  min-width: 0;
}

.biz-introduction-slider .embla__slide .slide {
  opacity: 0.5;
  border-radius: 28px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    var(--color-grey-0, #fff);
  box-shadow: 0 30px 80px 0 rgba(1, 45, 181, 0.12);
}

.biz-introduction-slider .embla__slide .slide.active {
  opacity: 1;
  background: white;
  transform: scale(1);
}
